#img{
  position: absolute;
  z-index: 3;
  visibility: hidden;
}
#game{
  position: absolute;
  top: 120px;
  z-index: 2;
  margin: 10px;
}
#title{
  position: absolute;
  left: 50px;
  top: 50px;
}
#sound{
  position: absolute;
  top: 10px;
  left: 35px;
}
.cutscene{
  display: none;
}
.picture{
  width: 960px;
  height: 600px;
  border-style: solid;
  border-color: black;
}
#textBox{
  position: absolute;
  top: 630px;
  left: 10px;
  width: 960px;
  height: 150px;
  border-style: solid;
  border-color: black;
  background-color: #bfbfbf;
}
.portrait{
  width: auto;
  height: 150px;
}
#text{
  width: 800px;
  position: fixed;
  top: 640px;
  left: 170px;
}
